
.filter {
    height: 24rem;
    width: 38.6%;
    display: flex;
    justify-content: flex-end;
}

.filter-by {
    width: 12rem;
    height: 22.5rem;
    border: 1px solid rgb(211, 211, 211);
    padding-left: 0.4rem;

}

.filter-by h2 {
  color: var(--main-color);
  font-size: 1.2rem; 
  padding: 0.7rem 0 0 0.3rem;
  font-weight: 600;
}

.filter-by h3 {
    color: var(--second-color);
    font-size: 0.9rem;
    padding: 0.7rem 0 0 0.3rem;
}

.filter-by p {
    font-size: 0.8rem;
    line-height: 0.6rem;
    padding-left: 0.3rem;
    color: rgb(107, 107, 107);
}

.filter-by li {
    font-size: 0.7rem;
    padding-left: 0.3rem;
}

.colors{
    display: flex;
}

#block-1 {
    background-color: var(--main-color);
    width: 2rem;
    height: 1rem; 
    margin: -0.2rem 0 0.5rem 0.3rem;
}

#block-2 {
    background-color: var(--third-color);
    width: 2rem;
    height: 1rem;
    margin: -0.2rem 0 0 0.2rem;
}

#block-3 {
    background-color: var(--fourth-color);
    width: 2rem;
    height: 1rem;
    margin: -0.2rem 0 0 0.2rem;

}

