@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&display=swap');

:root {
    --main-color: #cc0d1f;
    --second-color: #619392;
    --third-color: #f36324;
    --fourth-color: #28a3aa;
    }    

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

.login {
    background-color: black;
    color: white;
    height: 1.5rem;
    font-size: 0.7rem;
    margin: 0;
    text-align: right
}

.login p {
    margin: 0;
    padding: 0.1rem 6rem;
}

.menu {
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
height: 5rem;


}

.menu img {
    width: 9rem;
}

.menu input {
    width: 17rem;
    height: 1.9rem;
    border-radius: 0;
    border: 1px solid rgb(192, 192, 192);
}

.menu button {
    width: 5rem;
    height: 1.88rem;
    padding: 0.4rem 0;
    border-style: none;
    background-color: var(--main-color);
    color:white;
    font-weight: 800;
    font-size: 0.8rem;
}

.navbar  {
    background-color: var(--main-color);
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem !important;
    color: white;
}

.navbar ul {
list-style: none;
display: flex;
align-items: center;
text-align: center;
width: 77%;
justify-content:center;
color: white;
font-weight: 700;
}

.navbar li {
    /* background-color: var(--main-color); */
    color: white;
    padding: 0 0.8rem;
}
.navbar a {
    color: white
}

.navbar a:visited {
    color: white
}

a.nav-link {
    color: white !important;
}

.filter-category {
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer{
    background-color: var(--main-color);
    height: 5rem;
    margin-top: 5rem;
    bottom: 0;
    width: 100%;
}

.logo {

    display: none;
}

.logo-responsive {
    display: none;
}

span.btn {
color: rgb(109, 108, 108);
font-size: 1.3rem;
}