@media (max-width: 1024px) {
    .menu {
        justify-content: space-between;
        padding: 0 2rem;
    }

    .navbar ul {
        justify-content: space-between;
        width: 70%;
        font-size: 0.9rem;
    }

    .filter-by {
        padding: 0;
    }
    .filter {
        width: 28% !important;
    }

    .categories {
        width: 100%;
        margin-right: 0;
    }

    .line {
        width: 98%;
    }
    .products {
        width: 100%;
    }

    h4 {
        font-size: 1.2rem !important;
    }

}

@media (max-width: 768px) {

    .navbar ul {
        width: 80%;
    }
    .nav-item {
        font-size: 0.8rem;
        padding: 0;
    }

    .filter {
        margin-left: 1rem;
    }

    .products {
        width: 100%;
    }

    .products-infos {
        width: 30%;
        padding-right: 1rem;
    }
    #bt_menu {
        display: none;
    }
}


@media (max-width: 320px) {
.login p {
    padding:0.1rem 0;
    text-align: center;
}

.navbar {
background-color: white;
}

.navbar ul {
background-color: var(--main-color);
}

.menu {
    display: none;
}

.logo-responsive {
    display: block;
    width: 8rem;
    height:2.4rem;
}

.menu-responsive {
    display: flex;
    width: 100%;
    align-items: center;
    
}

.filter-category {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
}

.filter{
    width: 100% !important;
    justify-content: center !important;
    margin:0;
}

.filter-by {
    width: 90% !important;
    margin-bottom: 2rem;
}

.categories {
    margin: 0 0.5rem !important;
    justify-content: center;
}

.categories h2 {
    margin: 0 0 1rem 0;
    text-align: left;
}

.categories-section {
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.line {
    border-style: none;
    justify-content: center;
}

.line img {
    display: none;
}
.products {
    width: 100%;
    justify-content: center;
  
  }
.products-infos{
    width: 30%;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1.5rem 1rem 1.5rem;
    padding: 0;

}
.products-infos img {
    width: 8rem;
    height: 8rem;
    
}
.products-infos button {
    display: none;
}

.price {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
}

.products-infos h3 {
    margin-bottom: 0 ;
    height: 3rem;
}

}

