
.categories {
    width: 80%;
    margin: 0 4rem 0 1rem;
}

.categories h2 {
    color: var(--main-color);
    font-weight: 400;
    font-size: 1.5rem;
}

.line{
    border-top: 0.6px solid;
    height: 2rem;
    border-bottom: 0.6px solid;
    color: rgb(226, 226, 226);
    margin: 0 0 1.4rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84%;

}

.line img {
    width: 0.9rem;
}

.orderBy {
   display: flex;
   color: grey;
   font-size: 0.6rem;
   font-weight: 800;
   align-items: center;
}

.orderBy p {
    padding-right: 1rem;
    margin: 0;
}

.orderBy select {
    width: 10rem;
    height: 1.3rem;
    font-size: 0.8rem;
    padding-left: 0.4rem;
    border: 1px solid rgb(240, 240, 240);
    border-radius: 0.2rem;
}

.products {
  display: flex;
  flex-wrap: wrap; 
  width: 86%;

}

.products-infos {
    height: 18rem;
    width: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 1rem 0;
}

.products-infos h3 {
    height: 2rem;
    font-weight: 500;
    font-size: 0.8rem;
    color: rgb(112, 112, 112);
    margin-bottom: -0.1rem ;
}

.products-infos h4 {
    color: var(--main-color);
    font-weight: 800;
}

.products-infos img {
    width: 10rem;
    height: 10rem;
    object-fit:scale-down;
    border: 1px solid rgb(214, 214, 214);
    margin-bottom: 1.5rem;

}

.products-infos button {
    border-style: none;
    border-radius: 0.3rem;
    background-color: #80bdb8;
    width: 9.8rem;
    height: 1.8rem;
    font-weight: bold;
    color: white;
    outline: none;
}

.products-infos button:hover {
    cursor: pointer;

}

.price {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

.price p {
    font-size: 0.8rem;
    text-decoration-line: line-through;
    color: grey;
    
}


